{% extends 'base.html.twig' %}

{% block title %}Edit majetku{% endblock %}

{% block body %}
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
        <!-- Desktop sidebar -->
        <aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
            <div class="py-4 text-gray-500 dark:text-gray-400">
                <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="/">
                    Evidence majetku
                </a>

                <div class="px-6 my-6">
                    <a href="/create">
                        <button class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Přidat nový majetek
                            <span class="ml-2" aria-hidden="true">+</span>
                        </button>
                    </a>
                </div>

                <ul class="mt-6">
                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>
                            <span class="ml-4">Přehled</span>
                        </a>
                    </li>
                </ul>

                <ul>
                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/list">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path>
                            </svg>
                            <span class="ml-4">Seznam majetku</span>
                        </a>
                    </li>

                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/users">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path>
                            </svg>
                            <span class="ml-4">Uživatelé</span>
                        </a>
                    </li>

                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/types">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
                            </svg>
                            <span class="ml-4">Druhy</span>
                        </a>
                    </li>

                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/categories">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
                            </svg>
                            <span class="ml-4">Kategorie</span>
                        </a>
                    </li>

                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/locations">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
                            </svg>
                            <span class="ml-4">Umístění</span>
                        </a>
                    </li>

                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="/workplaces">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
                            </svg>
                            <span class="ml-4">Pracoviště</span>
                        </a>
                    </li>

                    <li>
                        <hr class="my-2 border-purple-400" />
                    </li>

                    <li>
                        <div class="px-6 my-6">
                            <a href="/createProperty">
                                <button class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 border border-gray-300 rounded-lg active:bg-purple-600 hover:bg-gray-100 hover:text-gray-700 focus:outline-none focus:shadow-outline-purple">
                                    Přidat hodnoty
                                    <span class="ml-2" aria-hidden="true">+</span>
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="flex flex-col flex-1 w-full">
            <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
                <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
                    <!-- Search input -->
                    <div class="flex justify-center flex-1 lg:mr-32">
                        <div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">
                            <div class="absolute inset-y-0 flex items-center pl-2">
                                <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Hledat majetek" aria-label="Search"/>
                        </div>
                    </div>

                    <ul class="flex items-center flex-shrink-0 space-x-6">
                        <!-- Profile menu -->
                        <li class="relative">
                            {% if app.user ? app.user.profilePic %}
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                    <img class="object-cover w-full h-full rounded-full" src="{{ app.user.profilePic }}" alt="" loading="lazy">
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                            {% else %}
                            {% endif %}
                        </li>
                        <li class="relative">
                            <p class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none">
                                {{ app.user ? app.user.email  }}
                            </p>
                        </li>

                        <li class="relative">
                            <a class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                               href="/{{ app.user ? 'logout' : 'login' }}"
                               @click="isOpen = false">
                                {{ app.user ? 'Logout' : 'Login' }}
                            </a>
                        </li>
                    </ul>
                </div>
            </header>

{#            <main class="h-full overflow-y-auto">#}
{#                <div class="container px-6 mx-auto grid">#}
{#                    <br><br>#}
{#                    <main class="h-full overflow-y-auto">#}
{#                        <div class="container px-6 mx-auto grid">#}
{#                            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">#}
{#                                Editovat majetek#}
{#                            </h2>#}
{#                            {{ form_start(form) }}#}
{#                            {{ form_widget(form) }}#}
{#                            <button type="submit" class="px-3 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"#}
{#                            >Uložit úpravy</button>#}
{#                            {{ form_end(form) }}#}
{#                        </div>#}
{#                    </main>#}
{#                </div>#}
{#            </main>#}


                    <br><br>
                    <main class="h-full overflow-y-auto">
                        <div class="container px-6 mx-auto grid">
                            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                                Editovat majetek <a href="/details/{{ assets.id }}" class="hover:underline">{{ assets.name }}</a>
                            </h2>
                            <hr class="my-2 border-purple-400" />

                            {{ form_start(form) }}
                            <div class="grid gap-6 mb-8 md:grid-cols-2">
                                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                                    <div class="grid gap-6 mb-8 md:grid-cols-2">
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.name) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.inventoryNumber) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.unitPrice) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.guaranteePeriod) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.supplier) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.manufacturer) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.orderNumber) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.orderURL) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.manufacturingNumber) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.eliminated) }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                                    <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                        {{ form_row(form.description) }}
                                    </h4>
                                    <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                        {{ form_row(form.note) }}
                                    </h4>
                                    <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                        {{ form_row(form.complaint) }}
                                    </h4>
                                    <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                        {{ form_row(form.serviceInterval) }}
                                    </h4>
                                </div>
                            </div>

                            <div class="grid gap-6 mb-8 md:grid-cols-2">
                                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                                    <div class="grid gap-6 mb-8 md:grid-cols-2">
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.assetType) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.locationAsset) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.ownedBy) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.categoryAsset) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.workplaceAsset) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.documentPath) }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                                    <div class="grid gap-6 mb-8 md:grid-cols-2">
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.dateCreated) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.dateBought) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.dateReceived) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.eliminationDate) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.subsumptionDate) }}
                                        </h4>
                                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                                            {{ form_row(form.nextServiceDue) }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="px-3 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                            >Uložit úpravy</button>
                            {{ form_end(form) }}

                        </div>
                    </main>
        </div>
    </div>
{% endblock %}
